body {
	padding-top: 70px;
}

.jumbotron {
	color: #2c3e50;
	background: #ecf0f1;
}

a {
  color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse {
	background: white;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

