*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border:none;
}
body {
	min-height: 100vh;
}

/***********************
          footer
************************/		  

footer {
	background: rgb(0, 0, 0);
	position: sticky;
	top: 100%;
}

a:link {
	padding: 15px;
	color: #fff;
	text-decoration: none;
}

a:visited {
	
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

a:active {
	color: #fff;
	text-decoration: none;
}